@import "tailwindcss";


/* If you want a subtle top border line like your image */
.nav-top-border {
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.06);
}


.input-ui {
  @apply w-full h-[52px] px-4 rounded-xl bg-white text-black outline-none text-sm;
}

.textarea-ui {
  @apply w-full min-h-[120px] px-4 py-3 rounded-xl bg-white text-black outline-none text-sm;
}



